@model WebApplication4.Models.LoginUsers.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h2 style="text-align:center;">Unesite novu lozinku</h2>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-12 col-md-9">

            @{
                if (TempData["PasswordCompare"] != null)
                {
                    <div class="alert alert-secondary" style="text-align:center;">
                        <strong>@TempData["PasswordCompare"]</strong>
                    </div>
                }

               
            }

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">


                                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" asp-for="UserId" />
                                    <input type="hidden" asp-for="Token" />

                                    <div class="form-group">
                                        <label for="password">Nova lozinka:</label>
                                        <input type="password" id="password" name="password" class="form-control" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">Potvrdite lozinku:</label>
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
                                    </div>

                                    <button type="submit" class="btn btn-primary" style="width:100%">Sačuvaj</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









